div {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 5vmax;
    font-weight: bold;
    margin: 16px;
}

h2 {
    font-size: 3vmax;
    font-weight: bold;
    margin: 16px;
}

p {
    font-size: 2vmax;
    margin: 16px;
}